* {
    box-sizing: border-box;
}

h1 {
    color: blue;
    text-align: center;
}

body>body {
    background-color: #f0f2f5;
}

form {
    display: flex;
    text-align: center;
    justify-content: center;
}

fieldset {
    width: 300px;
    background-color: white;
    padding: 10px;
    margin: 20px;
    display: flex;
    justify-content: center;
    display: block;
    align-items: center;
    box-shadow: 0px 0px 10px 0px rebeccapurple;
    border: none;
    border-radius: 6px;

}

fieldset>div {
    padding: 10px;
}

form>fieldset>div:nth-of-type(3) button {

    background-color: rgb(93, 93, 251);
    color: white;
    font-weight: 300;
    justify-content: center;
    cursor: pointer;
}

form>fieldset>div:nth-of-type(5) button {
    background-color: rgb(18, 154, 18);
    color: white;
    font-weight: 300;
    width: auto;
    cursor: pointer;
}


input {
    width: 300px;
    height: 100%;
    padding: 15px 16px;
    border-radius: 6px;
    border: 1px solid #dddfe2;
    font-family: inherit;
    font-size: 17px;
}

button {
    border: none;
    font-size: 20px;
    box-sizing: border-box;
    border-radius: 6px;
    padding: 0px 16px;
    line-height: 48px;
    width: 332px;
}